.region-inner.region-max-576 .button,
.region-inner.region-max-576 .solo-button,
.region-inner.region-max-576 nav li *:not(.solo__bc-scroll ul.breadcrumb-menu *) {
  white-space: normal;
}

.region-inner.region-max-768 .node--view-mode-teaser .field--name-field-image {
  min-width: 100%;
}

.region-inner.region-max-768 .view .node--view-mode-teaser .node__title,
.region-inner.region-max-768 .view .node--view-mode-teaser .node__content .field--name-field-image {
  padding-inline-end: 0 !important;
  margin-inline-end: 0 !important;
}

#page-wrapper .region-inner.region-max-576 .views-exposed-form .exposed-form > div {
  margin: var(--solo-px8) auto;
  width: 100%;
}

#page-wrapper .region-inner.region-max-576 .views-exposed-form .exposed-form,
#page-wrapper .region-inner.region-max-576 .views-exposed-form .exposed-form .form-actions {
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0;
}

#page-wrapper .region-inner.region-max-576 .selectify,
#page-wrapper .region-inner.region-max-576 .selectify > * {
  width: 100%;
  max-width: 100%;
}

.region-inner.region-max-576 .solo-date-range .fieldset-wrapper {
  flex-direction: column;
}

.region-inner.region-max-576 fieldset:has([name*="[min]"]):has([name*="[max]"]) .form-item {
  max-width: 100%;
}

.region-inner.region-max-576 .solo-date-range .form-type-date {
  width: 100%;
}

@media (min-width:36rem) {
  #page-wrapper .views-exposed-form .exposed-form>* {
    width: auto;
  }

}

@media (min-width:62rem) {
  #primary-sidebar-menu {
    min-width: 25rem;
    max-width: 35.99875rem;
  }

  .site-name {
    font-size: var(--solo-px36);
    line-height: calc(2 * var(--solo-px22));
  }

  .site-slogan {
    font-size: var(--solo-px20);
    line-height: calc(2 * var(--solo-px12));
  }

  /* HTML tags */
  h1 {
    line-height: calc(2 * var(--solo-px22));
  }

  h2 {
    line-height: calc(2 * var(--solo-px20));
  }

  h3 {
    line-height: calc(2 * var(--solo-px18));
  }

}

@media (max-width:61.99875rem) {
  .site-name {
    font-size: var(--solo-px24);
    line-height: calc(2 * var(--solo-px14));
  }

  .site-slogan {
    font-size: var(--solo-px18);
    line-height: var(--solo-px22);
  }

  h1 {
    font-size: var(--solo-px26);
  }

  h2 {
    font-size: var(--solo-px22);
  }

  h3 {
    font-size: var(--solo-px20);
  }

  h4 {
    font-size: var(--solo-px18);
  }

  #primary-sidebar-menu {
    min-width: 18rem;
    max-width: 32rem;
  }

}

@media (max-width:47.99875rem) {
  h1 {
    font-size: var(--solo-px22);
  }

  h2 {
    font-size: var(--solo-px20);
  }

  h3 {
    font-size: var(--solo-px18);
  }

  h4 {
    font-size: var(--solo-px16);
  }

  #primary-sidebar-menu {
    min-width: 18rem;
    max-width: 25rem;
  }

  .comment .indented {
    margin-inline-start: var(--solo-px16);
    padding-inline-start: var(--solo-px12);
  }

  .comment__picture {
    width: 32px;
    height: 32px;
  }

  .comment__permalink {
    opacity: 1;
  }

}

@media (max-width:35.99875rem) {
  h1 {
    font-size: var(--solo-px20);
  }

  h2 {
    font-size: var(--solo-px18);
  }

  h3 {
    font-size: var(--solo-px16);
  }

  .field p,
  .field li,
  .field span {
    line-height: var(--solo-px28);
  }

  #primary-sidebar-menu {
    min-width: 18rem;
    max-width: 22rem;
  }

  form ol,
  form ul,
  .field ol,
  .field ul {
    padding-inline-start: var(--solo-px16);
  }

  form ol ul,
  form ol ol,
  form ul ul,
  form ul ol,
  .field ol ul,
  .field ol ol,
  .field ul ul,
  .field ul ol {
    padding-inline-start: var(--solo-px8);
  }

  .links.inline {
    justify-content: start;
    padding: 0;
  }

  .links.inline li:first-child {
    justify-content: start;
    padding-inline-start: 0;
  }

  #page-wrapper nav.tabs ul {
    flex-direction: column;
    gap: var(--solo-px12);
  }

  #page-wrapper nav.tabs ul li a {
    border-radius: 0;
    margin: 0;
    border: 1px solid var(--r-br);
  }

}

@media (max-width:20rem) {
  #primary-sidebar-menu {
    min-width: 12rem;
    max-width: 16rem;
  }

  .solo-input,
  .solo-select,
  .solo-textarea {
    max-width: 220px;
    min-width: 120px;
  }

  .form-actions input {
    min-width: 80px;
  }

}
