/* Page wrapper
Piggy Pink #FDDDE6, Cotton Candy #FFBCD9, Cameo Pink #EFBBCC
*/
.page-wrapper {
  --r-br: #e592ad;
  --r-bg: #fcf2f5;
  --r-tx: #380d1b;
  --r-header-bg: linear-gradient(0deg, #cf3165, #ef0e4d);
  --r-header-tx: #f66d93;
  --r-menu-tx-h: #fffdfe;
  --r-menu-bg-h: #ff016f;
  --r-br-dark: #47001f;
  --r-br-light: #f8dde5;
}

/* Heads */
.page-wrapper h1:not(.page-title-text),
.page-wrapper h2,
.page-wrapper h3,
.page-wrapper h1 a,
.page-wrapper h2 a,
.page-wrapper h3 a,
.page-wrapper h1 a span,
.page-wrapper h2 a span,
.page-wrapper h3 a span,
.page-wrapper .site-name,
.page-wrapper .site-slogan,
.page-wrapper .site-name-link {
  --r-tx: #f66d93;
}

/* Link only */
.page-wrapper a:not(.nav__menu-link,
.button,
.site-name-link,
.site-logo,
h1 a,
h2 a,
h3 a) {
  --r-tx: #cf3165;
}

.page-wrapper a:hover:not(.nav__menu-link,
.button,
.site-name-link,
.site-logo,
h1 a,
h2 a,
h3 a) {
  --r-tx: #dc688e;
}

/* Menu Links */
.page-wrapper .login-button-open,
.page-wrapper .hamburger-icon button,
.page-wrapper .main-navigation-wrapper,
.page-wrapper .main-navigation-wrapper ul,
.page-wrapper .main-navigation-wrapper li,
.page-wrapper .header li.nav__menu-item>a,
.page-wrapper .main-navigation-wrapper li>a,
.page-wrapper .header li.nav__menu-item>button,
.page-wrapper .main-navigation-wrapper li>button {
  --r-br: #a62751;
  --r-bg: #ef0e4d;
  --r-tx: #ffeff6;
}

.page-wrapper .login-button-open:hover,
.page-wrapper .hamburger-icon button:hover,
.page-wrapper .header ul li.nav__menu-item>*:hover,
.page-wrapper .main-navigation-wrapper li>*:hover {
  --r-tx: #fffdfe;
  --r-bg: #ff016f;
}

.page-wrapper ul.tabs.secondary li a:hover,
.page-wrapper ul.tabs.primary li a:hover {
  --r-tx: #fffdfe;
  --r-bg: #ff016f;
  background-color: var(--r-bg);
}

/* The same colors as hover for the main menu */
.page-wrapper .navigation-sidebar-hover .navigation__sidebar li.has-sub__menu:hover>a,
.page-wrapper .navigation-sidebar-hover .navigation__sidebar li.has-sub__menu:hover>button,
.page-wrapper .navigation-responsive-hover .navigation__megamenu>li.has-sub__menu:hover>a,
.page-wrapper .navigation-responsive-hover .navigation__megamenu>li.has-sub__menu:hover>button,
.page-wrapper .navigation-responsive-hover .navigation__responsive:not(.navigation__megamenu) li.has-sub__menu:hover>a,
.page-wrapper .navigation-responsive-hover .navigation__responsive:not(.navigation__megamenu) li.has-sub__menu:hover>button {
  --r-tx: #fffdfe;
  --r-bg: #ff016f;
}

/* Form Button */
.page-wrapper a.button,
.page-wrapper input.button,
.page-wrapper .search-button-close button,
.block-user-login-block form+.item-list ul li a {
  --r-bg: #8f082e;
  --r-tx: #feedf2;
}

.page-wrapper a.button:hover,
.page-wrapper input.button:hover,
.page-wrapper .search-button-close button:hover,
.block-user-login-block form+.item-list ul li a:hover {
  --r-tx: #8f082e;
  --r-bg: #feedf2;
}

/* Regions Light */
.welcome-text,
.main-container .main-box {
  --r-bg: var(--solo-white);
}

.main-container,
.top-container,
.fixed-search-block,
.popup-login-block-inner {
  --s-b: 70, 16, 34;
  --r-br: #faadc3;
  --r-bg: linear-gradient(45deg, #fffdfe, #fdfdfd);
  background: var(--r-bg);
}

.highlighted {
  --r-bg: #fcf2f5;
}

.top-container .top-box-inner {
  --r-bg: linear-gradient(180deg, #ffeff6, #ffffff);
  background: var(--r-bg);
}

/* Regions Dark */
header.header,
div.page-title.lone {
  --r-tx: #f6f5f7;
  --r-bg: linear-gradient(0deg, #cf3165, #ef0e4d);
  background: var(--r-bg);
}

header.header h1,
header.header h2,
header.header h3,
header.header h1 a,
header.header h2 a,
header.header h3 a,
header.header h1 a span,
header.header h2 a span,
header.header h3 a span {
  --r-tx: #ffeff6;
}

.breadcrumb,
.copyright {
  --r-tx: #fefefe;
  --r-bg: linear-gradient(180deg, #010000, #120008);
  background: var(--r-bg);
}

.bottom-container,
.footer-container,
.footer-menu {
  --r-br: var(--r-br-dark);
  --r-tx: #f9e4eb;
  --r-bg: linear-gradient(180deg, #0e0105, #010000);
  background: var(--r-bg);
}

.bottom-container .bottom-box-inner,
.footer-container .footer-box-inner {
  --r-bg: linear-gradient(180deg, #070708, #0b0b0f);
  background: var(--r-bg);
}

.page-wrapper .bottom-container a,
.page-wrapper .footer-container a,
.page-wrapper .footer-menu a,
.page-wrapper .breadcrumb a,
.page-wrapper .copyright a {
  --r-tx: #dc688e;
}

.page-wrapper .multi h1 span,
.page-wrapper .multi h2 span,
.page-wrapper .multi h3 span {
  color: inherit;
}

.page-wrapper .bottom-container h1,
.page-wrapper .bottom-container h2,
.page-wrapper .bottom-container h3,
.page-wrapper .footer-container h1,
.page-wrapper .footer-container h2,
.page-wrapper .footer-container h3,
.page-wrapper .footer-menu h1,
.page-wrapper .footer-menu h2,
.page-wrapper .footer-menu h3 {
  --r-tx: #fddde6;
}

.sm-icons .snapchat svg,
.sm-icons .threads svg,
.sm-icons .whatsapp svg,
.sm-icons .tiktok svg,
.sm-icons .reddit svg,
.sm-icons .facebook svg,
.sm-icons .twitter svg,
.sm-icons .bluesky svg,
.sm-icons .pinterest svg,
.sm-icons .linkedin svg,
.sm-icons .instagram svg,
.sm-icons .youtube svg,
.sm-icons .drupal svg,
.sm-icons .mastodon svg,
.sm-icons .telegram svg,
.sm-icons .email svg,
.sm-icons .rss svg {
  fill: #8f082e;
}

.page-wrapper .selectify,
.page-wrapper .solo-select,
.page-wrapper .solo-radio,
.page-wrapper .solo-check,
.page-wrapper .solo-input,
.page-wrapper .solo-textarea,
.page-wrapper a.button,
.page-wrapper input.button,
.page-wrapper .search-button-close button {
  --r-br: #ffabcf;
}

.page-wrapper .selectify *:hover,
.page-wrapper .solo-select:hover,
.page-wrapper .solo-check:hover,
.page-wrapper .solo-radio:hover,
.page-wrapper .solo-input:hover,
.page-wrapper .solo-textarea:hover,
.page-wrapper .selectify *:focus,
.page-wrapper .solo-select:focus,
.page-wrapper .solo-check:focus,
.page-wrapper .solo-radio:focus,
.page-wrapper .solo-input:focus,
.page-wrapper .solo-textarea:focus {
  --r-br: #ff016f;
}

#fixed-search-block,
.primary-sidebar-menu,
.solo-inner .navigation__responsive,
.page-wrapper .primary-menu.solo-sticky,
.fixed-search-block-inner .fixed-search-wrapper,
.page-wrapper .solo-outer.animate-hover .region-inner.top-box-inner {
  --s-b: 62, 4, 20;
}

.page-wrapper .solo-outer.animate-hover .region-inner.bottom-box-inner,
.page-wrapper .solo-outer.animate-hover .region-inner.footer-box-inner {
  --s-b: 253, 221, 230;
}

.sm-icons a > span {
  --s-b: 255, 253, 254;
}

.page-wrapper .pager__item a {
  transition: background .3s;
}

.page-wrapper .pager__item a:hover {
  color: var(--r-header-tx);
  background: var(--r-header-bg);
}

.page-wrapper .main-container,
.page-wrapper .main-container * {
  --r-br: var(--r-br-light);
}

.page-wrapper .selectify-radio,
.page-wrapper .selectify-checkbox,
.page-wrapper .selectify-radio *,
.page-wrapper .selectify-checkbox * {
  --selectify-checkbox-bg: linear-gradient(180deg, var(--r-br) 0%, #f3aac5 50%, #c97d8f 100%);
  --selectify-checkbox-checked-bg: linear-gradient(180deg, var(--r-menu-bg-h) 0%, #d0005d 50%, #ab004c 100%);
  --selectify-checkbox-check-circle: radial-gradient(circle at 35% 35%, #ffffff 0%, #f9c1d0 40%, #f3aac5 100%);
  --selectify-checkbox-checked-circle: radial-gradient(circle at 40% 40%, #ffffff 0%, #f7c8d8 40%, var(--r-header-tx) 100%);
  --selectify-checkbox-disabled-bg: linear-gradient(180deg, #f9c1d0 0%, #f7a7c3 50%, var(--r-br) 100%);
  --selectify-checkbox-disabled-circle: radial-gradient(circle at 40% 40%, #fde0ea 0%, #f9c1d0 40%, #f3aac5 100%);
}

.page-wrapper .selectify-select,
.page-wrapper .selectify-select * {
  --selectify-select-bg: linear-gradient(180deg, #ffffff 0%, var(--r-bg) 100%);
  --selectify-select-hover-bg: linear-gradient(0deg, var(--r-bg) 0%, #f8e6ec 100%);
  --selectify-select-color: var(--r-tx);
  --selectify-select-border-color: var(--r-br);
  --selectify-select-focus-border-color: var(--r-br);
  --selectify-select-disabled-bg: linear-gradient(180deg, #ffffff 0%, var(--r-bg) 100%);
  --selectify-select-arrow-color: var(--r-header-tx);
  --selectify-dropdown-shadow: 0px 4px 14px rgba(56, 13, 27, 0.12);
  --selectify-option-hover-bg: linear-gradient(180deg, #ffffff 0%, #f8e6ec 100%);
  --selectify-option-active-bg: linear-gradient(180deg, var(--r-br) 0%, #f8e6ec 100%);
}

/* Border animation  */
@keyframes borderLeftColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: var(--r-br, var(--r-br-b));
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: var(--r-br, var(--r-br-b));
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

}

@keyframes borderRightColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: var(--r-br, var(--r-br-b));
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: var(--r-br, var(--r-br-b));
  }

  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

}
