/* Page wrapper
Bleu De France #318CE7, Natural Black #07000B
*/
.page-wrapper {
  --r-br: #0a2f53;
  --r-bg: #010407;
  --r-tx: #c9e1f9;
  --r-header-bg: linear-gradient(0deg, #000000, #030d16);
  --r-header-tx: #1873cd;
  --r-menu-tx-h: #f7fbfe;
  --r-menu-bg-h: #13599f;
}

/* inner regions */
.page-wrapper .region-inner {
  --r-br: #073059;
}

.page-wrapper .solo-outer:not(.fixed-search-block,
.popup-login-block,
.header,
.primary-sidebar-menu,
.primary-menu,
.system-messages,
.copyright) {
  border-bottom-width: var(--solo-px2);
  border-bottom-style: solid;
  border-color: var(--solo-black);
}

/* Heads */
.page-wrapper h1:not(.page-title-text),
.page-wrapper h2,
.page-wrapper h3,
.page-wrapper h1 a,
.page-wrapper h2 a,
.page-wrapper h3 a,
.page-wrapper h1 a span,
.page-wrapper h2 a span,
.page-wrapper h3 a span,
.page-wrapper .site-name,
.page-wrapper .site-slogan,
.page-wrapper .site-name-link {
  --r-tx: #1873cd;
}

/* Link only */
.page-wrapper a:not(.nav__menu-link,
.button,
.site-name-link,
.site-logo,
h1 a,
h2 a,
h3 a) {
  --r-tx: #4f4f76;
}

.page-wrapper a:hover:not(.nav__menu-link,
.button,
.site-name-link,
.site-logo,
h1 a,
h2 a,
h3 a) {
  --r-tx: #6c6c9d;
}

/* Menu Links */
.page-wrapper .login-button-open,
.page-wrapper .hamburger-icon button,
.page-wrapper .main-navigation-wrapper,
.page-wrapper .main-navigation-wrapper ul,
.page-wrapper .main-navigation-wrapper li,
.page-wrapper .header li.nav__menu-item>a,
.page-wrapper .main-navigation-wrapper li>a,
.page-wrapper .header li.nav__menu-item>button,
.page-wrapper .main-navigation-wrapper li>button {
  --r-bg: #030d16;
  --r-tx: #d8eafb;
}

.page-wrapper .login-button-open:hover,
.page-wrapper .hamburger-icon button:hover,
.page-wrapper .header ul li.nav__menu-item>*:hover,
.page-wrapper .main-navigation-wrapper li>*:hover {
  --r-tx: #f7fbfe;
  --r-bg: #13599f;
}

.page-wrapper ul.tabs.secondary li a:hover,
.page-wrapper ul.tabs.primary li a:hover {
  background-color: #13599f;
  --r-tx: #f7fbfe;
}

/* The same colors as hover for the main menu */
.page-wrapper .navigation-sidebar-hover .navigation__sidebar li.has-sub__menu:hover>a,
.page-wrapper .navigation-sidebar-hover .navigation__sidebar li.has-sub__menu:hover>button,
.page-wrapper .navigation-responsive-hover .navigation__megamenu>li.has-sub__menu:hover>a,
.page-wrapper .navigation-responsive-hover .navigation__megamenu>li.has-sub__menu:hover>button,
.page-wrapper .navigation-responsive-hover .navigation__responsive:not(.navigation__megamenu) li.has-sub__menu:hover>a,
.page-wrapper .navigation-responsive-hover .navigation__responsive:not(.navigation__megamenu) li.has-sub__menu:hover>button {
  --r-tx: #f7fbfe;
  --r-bg: #13599f;
}

/* Form Button */
.page-wrapper a.button,
.page-wrapper input.button,
.page-wrapper .search-button-close button,
.block-user-login-block form+.item-list ul li a {
  --r-bg: #48486c;
  --r-tx: #e6e6ef;
}

.page-wrapper a.button:hover,
.page-wrapper input.button:hover,
.page-wrapper .search-button-close button:hover,
.block-user-login-block form+.item-list ul li a:hover {
  --r-tx: #48486c;
  --r-bg: #e6e6ef;
}

/* Regions */
.welcome-text,
.main-container .main-box {
  --r-bg: var(--solo-black);
}

header.header,
div.page-title.lone {
  --r-bg: linear-gradient(0deg, #000000, #030d16);
  background: var(--r-bg);
}

.top-container,
.main-container,
.bottom-container,
.footer-container,
.footer-menu,
.fixed-search-block,
.popup-login-block-inner {
  --r-bg: linear-gradient(45deg, #000000, #030d16);
  background: var(--r-bg);
}

.top-container .top-box-inner,
.bottom-container .bottom-box-inner,
.footer-container .footer-box-inner {
  --r-bg: linear-gradient(0deg, #000000, #030d16);
  background: var(--r-bg);
}

.page-wrapper .selectify,
.page-wrapper .solo-select,
.page-wrapper .solo-radio,
.page-wrapper .solo-check,
.page-wrapper .solo-input,
.page-wrapper .solo-textarea,
.page-wrapper a.button,
.page-wrapper input.button,
.page-wrapper .search-button-close button {
  --r-br: #414162;
}

.page-wrapper .selectify *:hover,
.page-wrapper .solo-select:hover,
.page-wrapper .solo-check:hover,
.page-wrapper .solo-radio:hover,
.page-wrapper .solo-input:hover,
.page-wrapper .solo-textarea:hover,
.page-wrapper .selectify *:focus,
.page-wrapper .solo-select:focus,
.page-wrapper .solo-check:focus,
.page-wrapper .solo-radio:focus,
.page-wrapper .solo-input:focus,
.page-wrapper .solo-textarea:focus {
  --r-br: #636395;
}

.sm-icons .snapchat svg,
.sm-icons .threads svg,
.sm-icons .whatsapp svg,
.sm-icons .tiktok svg,
.sm-icons .reddit svg,
.sm-icons .facebook svg,
.sm-icons .twitter svg,
.sm-icons .bluesky svg,
.sm-icons .pinterest svg,
.sm-icons .linkedin svg,
.sm-icons .instagram svg,
.sm-icons .youtube svg,
.sm-icons .drupal svg,
.sm-icons .mastodon svg,
.sm-icons .telegram svg,
.sm-icons .email svg,
.sm-icons .rss svg {
  fill: #0b3763;
}

/* Copyright */
.copyright {
  --r-bg: linear-gradient(180deg, #030d16, #12121a);
  background: var(--r-bg);
}

#fixed-search-block,
.primary-sidebar-menu,
.solo-inner .navigation__responsive,
.page-wrapper .primary-menu.solo-sticky,
.fixed-search-block-inner .fixed-search-wrapper,
.page-wrapper .solo-outer.animate-hover .region-inner.top-box-inner,
.page-wrapper .solo-outer.animate-hover .region-inner.bottom-box-inner,
.page-wrapper .solo-outer.animate-hover .region-inner.footer-box-inner {
  --s-b: 216, 234, 251;
}

.sm-icons a > span {
  --s-b: 26, 123, 220;
}

.page-wrapper .pager__item a {
  transition: background .3s;
}

.page-wrapper .pager__item a:hover {
  color: var(--r-header-tx);
  background: var(--r-header-bg);
}

/* Dark Theme Styles */
.page-wrapper .selectify-radio,
.page-wrapper .selectify-checkbox,
.page-wrapper .selectify-radio *,
.page-wrapper .selectify-checkbox * {
  --selectify-checkbox-bg: linear-gradient(180deg, var(--r-header-tx) 0%, #13599f 50%, #1873cd 100%);
  --selectify-checkbox-checked-bg: linear-gradient(180deg, #1873cd 0%, #13599f 50%, #c9e1f9 100%);
  --selectify-checkbox-check-circle: radial-gradient(circle at 35% 35%, #0a2f53 0%, #1873cd 40%, #c9e1f9 100%);
  --selectify-checkbox-checked-circle: radial-gradient(circle at 40% 40%, #c9e1f9 0%, #1873cd 40%, #0a2f53 100%);
  --selectify-checkbox-disabled-bg: linear-gradient(180deg, #0a2f53 0%, #13599f 50%, var(--r-br) 100%);
  --selectify-checkbox-disabled-circle: radial-gradient(circle at 40% 40%, #6aa8e5 0%, #1873cd 40%, #13599f 100%);
}

.page-wrapper .selectify-select,
.page-wrapper .selectify-select * {
  --selectify-select-bg: linear-gradient(180deg, var(--r-bg) 0%, #030d16 100%);
  --selectify-select-hover-bg: linear-gradient(0deg, #030d16 0%, #13599f 100%);
  --selectify-select-color: var(--r-tx);
  --selectify-select-border-color: var(--r-br);
  --selectify-select-focus-border-color: var(--r-br);
  --selectify-select-disabled-bg: linear-gradient(180deg, #030d16 0%, #0a2f53 100%);
  --selectify-select-arrow-color: #1873cd;
  --selectify-dropdown-shadow: 0px 4px 14px rgba(255, 255, 255, 0.12);
  --selectify-option-hover-bg: linear-gradient(180deg, #030d16 0%, #13599f 100%);
  --selectify-option-active-bg: linear-gradient(180deg, #0a2f53 0%, #1873cd 100%);
}


/* Border animation  */
@keyframes borderLeftColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: var(--r-br, var(--r-br-b));
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: var(--r-br, var(--r-br-b));
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

}

@keyframes borderRightColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: var(--r-br, var(--r-br-b));
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: var(--r-br, var(--r-br-b));
  }

  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

}
