/* Marengo #4C5866, SPRUCE #2C3E4C, SLATE #757C88 */
.page-wrapper {
  --r-br: #a5aab9;
  --r-bg: #fbfbfc;
  --r-tx: #383c49;
  --r-header-bg: linear-gradient(0deg, #f5f5f6, #e6e9ee);
  --r-header-tx: #6c738c;
  --r-menu-bg-h: #394558;
  --r-menu-tx-h: #ffffff;
  --r-br-dark: #313845;
  --r-br-light: #e0e0e1;
}

.header,
.fixed-search-block {
  --r-bg: linear-gradient(0deg, #f5f5f6, #e6e9ee);
  background: var(--r-bg);
}

.page-wrapper .top-container,
.page-wrapper .top-container *,
.page-wrapper .main-container,
.page-wrapper .main-container * {
  --r-br: var(--r-br-light);
}

.page-wrapper .copyright,
.page-wrapper .copyright *,
.page-wrapper .footer-menu,
.page-wrapper .footer-menu *,
.page-wrapper .footer-container,
.page-wrapper .footer-container *,
.page-wrapper .bottom-container,
.page-wrapper .bottom-container * {
  --r-br: var(--r-br-dark);
}

/* Heads */
.page-wrapper h1:not(.page-title-text),
.page-wrapper h2,
.page-wrapper h3,
.page-wrapper h1 a,
.page-wrapper h2 a,
.page-wrapper h3 a,
.page-wrapper h1 a span,
.page-wrapper h2 a span,
.page-wrapper h3 a span,
.page-wrapper .site-name,
.page-wrapper .site-slogan,
.page-wrapper .site-name-link {
  --r-tx: #6c738c;
}

/* Link only */
.page-wrapper a:not(.nav__menu-link,
.button,
.site-name-link,
.site-logo,
h1 a,
h2 a,
h3 a) {
  --r-tx: #850b00;
}

.page-wrapper a:hover:not(.nav__menu-link,
.button,
.site-name-link,
.site-logo,
h1 a,
h2 a,
h3 a) {
  --r-tx: #c91000;
}

/* Menu Links */
.page-wrapper .login-button-open,
.page-wrapper .hamburger-icon button,
.page-wrapper .main-navigation-wrapper,
.page-wrapper .main-navigation-wrapper ul,
.page-wrapper .main-navigation-wrapper li,
.page-wrapper .header li.nav__menu-item>a,
.page-wrapper .main-navigation-wrapper li>a,
.page-wrapper .header li.nav__menu-item>button,
.page-wrapper .main-navigation-wrapper li>button {
  --r-tx: #fafbfc;
  --r-bg: #19242c;
  --r-br: #11181d;
}

.page-wrapper .login-button-open:hover,
.page-wrapper .hamburger-icon button:hover,
.page-wrapper .header ul li.nav__menu-item>*:hover,
.page-wrapper .main-navigation-wrapper li>*:hover {
  --r-bg: #394558;
  --r-tx: #ffffff;
}

.page-wrapper ul.tabs.secondary li a:hover,
.page-wrapper ul.tabs.primary li a:hover {
  --r-bg: #394558;
  --r-tx: #ffffff;
  background: var(--r-bg);
}

/* The same colors as hover for the main menu */
.page-wrapper .navigation-sidebar-hover .navigation__sidebar li.has-sub__menu:hover>a,
.page-wrapper .navigation-sidebar-hover .navigation__sidebar li.has-sub__menu:hover>button,
.page-wrapper .navigation-responsive-hover .navigation__megamenu>li.has-sub__menu:hover>a,
.page-wrapper .navigation-responsive-hover .navigation__megamenu>li.has-sub__menu:hover>button,
.page-wrapper .navigation-responsive-hover .navigation__responsive:not(.navigation__megamenu) li.has-sub__menu:hover>a,
.page-wrapper .navigation-responsive-hover .navigation__responsive:not(.navigation__megamenu) li.has-sub__menu:hover>button {
  --r-bg: #394558;
  --r-tx: #ffffff;
}

/* Form Buttons */
.page-wrapper a.button,
.page-wrapper input.button,
.page-wrapper .search-button-close button,
.block-user-login-block form+.item-list ul li a {
  --r-tx: #fafbfc;
  --r-bg: #252d39;
}

.page-wrapper a.button:hover,
.page-wrapper input.button:hover,
.page-wrapper .search-button-close button:hover,
.block-user-login-block form+.item-list ul li a:hover {
  --r-bg: #f1f2f5;
  --r-tx: #47556c;
}

/* Regions */
.welcome-text {
  --r-bg: var(--solo-white);
}

.highlighted,
.popup-login-block-inner {
  --r-bg: linear-gradient(45deg, #fafafb, #e6e9ee);
  background: var(--r-bg);
}

.top-container {
  --r-br: #6a7e9e;
  --r-bg: linear-gradient(0deg, #fafafb, #d1d7e1);
  background: var(--r-bg);
}

.top-container .top-box-first-inner {
  --r-bg: #f0f2f5;
}

.top-container .top-box-second-inner {
  --r-bg: var(--solo-white);
}

.top-container .top-box-third-inner {
  --r-bg: #f0f2f5;
}

.main-container {
  --r-bg: #eff3f6;
}

.main-container .main-box {
  --r-bg: var(--solo-white);
}

.bottom-container .bottom-box-first-inner {
  --r-bg: #11151a;
}

.bottom-container .bottom-box-second-inner {
  --r-bg: #0a0c10;
}

.bottom-container .bottom-box-third-inner {
  --r-bg: #0a0c10;
}

.bottom-container .bottom-box-fourth-inner {
  --r-bg: #11151a;
}

.footer-container .footer-box-first-inner {
  --r-bg: #0a0c10;
}

.footer-container .footer-box-second-inner {
  --r-bg: #040405;
}

.footer-container .footer-box-third-inner {
  --r-bg: #0a0c10;
}

.page-wrapper div.page-title.lone,
.footer-menu,
.footer-container,
.bottom-container {
  --r-tx: #fafbfc;
  --r-bg: linear-gradient(45deg, #181d24, #070708);
  background: var(--r-bg);
}

.copyright,
.breadcrumb {
  --r-bg: #040405;
  --r-tx: #fafbfc;
}

.page-wrapper .footer-menu h1,
.page-wrapper .footer-menu h2,
.page-wrapper .footer-menu h3,
.page-wrapper .bottom-container h1,
.page-wrapper .bottom-container h2,
.page-wrapper .bottom-container h3,
.page-wrapper .footer-container h1,
.page-wrapper .footer-container h2,
.page-wrapper .footer-container h3 {
  --r-tx: #fafbfc;
}

.page-wrapper .multi h1 span,
.page-wrapper .multi h2 span,
.page-wrapper .multi h3 span {
  color: inherit;
}

.page-wrapper .bottom-container a,
.page-wrapper .footer-container a,
.page-wrapper .footer-menu a,
.page-wrapper .breadcrumb a,
.page-wrapper .copyright a {
  --r-tx: #fafbfc;
}

.page-wrapper .bottom-container a:hover,
.page-wrapper .footer-container a:hover,
.page-wrapper .footer-menu a:hover,
.page-wrapper .breadcrumb a:hover,
.page-wrapper .copyright a:hover {
  --r-tx: #a2d3fa;
}

.sm-icons .snapchat svg,
.sm-icons .threads svg,
.sm-icons .whatsapp svg,
.sm-icons .tiktok svg,
.sm-icons .reddit svg,
.sm-icons .facebook svg,
.sm-icons .twitter svg,
.sm-icons .bluesky svg,
.sm-icons .pinterest svg,
.sm-icons .linkedin svg,
.sm-icons .instagram svg,
.sm-icons .youtube svg,
.sm-icons .drupal svg,
.sm-icons .mastodon svg,
.sm-icons .telegram svg,
.sm-icons .email svg,
.sm-icons .rss svg {
  fill: #93a2b9;
}

.page-wrapper .selectify,
.page-wrapper .solo-select,
.page-wrapper .solo-radio,
.page-wrapper .solo-check,
.page-wrapper .solo-input,
.page-wrapper .solo-textarea,
.page-wrapper a.button,
.page-wrapper input.button,
.page-wrapper .search-button-close button {
  --r-br: #dadee2;
}

.page-wrapper .selectify *:hover,
.page-wrapper .solo-select:hover,
.page-wrapper .solo-check:hover,
.page-wrapper .solo-radio:hover,
.page-wrapper .solo-input:hover,
.page-wrapper .solo-textarea:hover,
.page-wrapper .selectify *:focus,
.page-wrapper .solo-select:focus,
.page-wrapper .solo-check:focus,
.page-wrapper .solo-radio:focus,
.page-wrapper .solo-input:focus,
.page-wrapper .solo-textarea:focus {
  --r-br: #c4c7ca;
}

/* For main menu shadow */
.solo-inner .navigation__responsive {
  --s-b: 17, 21, 26;
}

.page-wrapper .primary-menu.solo-sticky {
  --s-b: 17, 21, 26;
}

.primary-sidebar-menu {
  --s-b: 17, 21, 26;
}

/* inner regions borders */
.page-wrapper .solo-outer.animate-hover .region-inner.top-box-inner {
  --s-b: 17, 21, 26;
}

.page-wrapper .solo-outer.animate-hover .region-inner.bottom-box-inner,
.page-wrapper .solo-outer.animate-hover .region-inner.footer-box-inner {
  --s-b: 230, 234, 238;
}

.sm-icons a > span {
  --s-b: 230, 234, 238;
}

#fixed-search-block {
  --s-b: 17, 21, 26;
}

.fixed-search-block-inner .fixed-search-wrapper {
  --s-b: 17, 21, 26;
}

.page-wrapper .pager__item a {
  transition: background .3s;
}

.page-wrapper .pager__item a:hover {
  color: var(--r-header-tx);
  background: var(--r-header-bg);
}

/* Updated Selectify Styles */
.selectify-radio,
.selectify-checkbox,
.selectify-radio *,
.selectify-checkbox * {
  --selectify-checkbox-bg: linear-gradient(180deg, var(--r-br) 0%, #c2c6d3 50%, #9ea3b2 100%);
  --selectify-checkbox-checked-bg: linear-gradient(180deg, var(--r-menu-bg-h) 0%, #555e71 50%, #3f4a5f 100%);
  --selectify-checkbox-check-circle: radial-gradient(circle at 35% 35%, #ffffff 0%, #dadde4 40%, #b1b6c4 100%);
  --selectify-checkbox-checked-circle: radial-gradient(circle at 40% 40%, #ffffff 0%, #a5aab9 40%, #6c738c 100%);
  --selectify-checkbox-disabled-bg: linear-gradient(180deg, var(--r-bg) 0%, #e2e4ea 50%, #c2c6d3 100%);
  --selectify-checkbox-disabled-circle: radial-gradient(circle at 40% 40%, #f0f1f3 0%, #dadde4 40%, #b1b6c4 100%);
}

.selectify-select,
.selectify-select * {
  --selectify-select-bg: linear-gradient(180deg, #ffffff 0%, var(--r-bg) 100%);
  --selectify-select-hover-bg: linear-gradient(0deg, var(--r-bg) 0%, #e6e9ee 100%);
  --selectify-select-color: var(--r-tx);
  --selectify-select-border-color: var(--r-br);
  --selectify-select-focus-border-color: var(--r-br);
  --selectify-select-disabled-bg: linear-gradient(180deg, #f7f8fa 0%, #e6e9ee 100%);
  --selectify-select-arrow-color: var(--r-header-tx);
  --selectify-dropdown-shadow: 0px 4px 14px rgba(56, 60, 73, 0.15);
  --selectify-option-hover-bg: linear-gradient(180deg, #ffffff 0%, #e6e9ee 100%);
  --selectify-option-active-bg: linear-gradient(180deg, #a5aab9 0%, #6c738c 100%);
}


/* Border animation  */
@keyframes borderLeftColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: var(--r-br, var(--r-br-b));
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: var(--r-br, var(--r-br-b));
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

}

@keyframes borderRightColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: var(--r-br, var(--r-br-b));
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: var(--r-br, var(--r-br-b));
  }

  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

}
