/* Page wrapper
AMAZON #3B7A57, DENIM #151E3D

*/
.page-wrapper {
  --r-br: #9fd1b5;
  --r-bg: #fbfdfc;
  --r-tx: #0f1e16;
  --r-header-bg: linear-gradient(180deg, #151e3d, #0c1224);
  --r-header-tx: #94cbac;
  --r-menu-tx-h: #142a1e;
  --r-menu-bg-h: #469167;
}

/* Heads */
.page-wrapper h1:not(.page-title-text),
.page-wrapper h2,
.page-wrapper h3,
.page-wrapper h1 a,
.page-wrapper h2 a,
.page-wrapper h3 a,
.page-wrapper h1 a span,
.page-wrapper h2 a span,
.page-wrapper h3 a span,
.page-wrapper .site-name,
.page-wrapper .site-slogan,
.page-wrapper .site-name-link {
  --r-tx: #639c7c;
}

/* Link only */
.page-wrapper a:not(.nav__menu-link,
.button,
.site-name-link,
.site-logo,
h1 a,
h2 a,
h3 a) {
  --r-tx: #263770;
}

.page-wrapper a:hover:not(.nav__menu-link,
.button,
.site-name-link,
.site-logo,
h1 a,
h2 a,
h3 a) {
  --r-tx: #3850a2;
}

/* Menu Links */
.page-wrapper .login-button-open,
.page-wrapper .hamburger-icon button,
.page-wrapper .main-navigation-wrapper,
.page-wrapper .main-navigation-wrapper ul,
.page-wrapper .main-navigation-wrapper li,
.page-wrapper .header li.nav__menu-item>a,
.page-wrapper .main-navigation-wrapper li>a,
.page-wrapper .header li.nav__menu-item>button,
.page-wrapper .main-navigation-wrapper li>button {
  --r-br: #316347;
  --r-bg: #3b7a57;
  --r-tx: #040705;
}

.page-wrapper .login-button-open:hover,
.page-wrapper .hamburger-icon button:hover,
.page-wrapper .header ul li.nav__menu-item>*:hover,
.page-wrapper .main-navigation-wrapper li>*:hover {
  --r-tx: #142a1e;
  --r-bg: #469167;
}

.page-wrapper ul.tabs.secondary li a:hover,
.page-wrapper ul.tabs.primary li a:hover {
  --r-tx: #142a1e;
  --r-bg: #469167;
  background-color: var(--r-bg);
}

/* The same colors as hover for the main menu */
.page-wrapper .navigation-sidebar-hover .navigation__sidebar li.has-sub__menu:hover>a,
.page-wrapper .navigation-sidebar-hover .navigation__sidebar li.has-sub__menu:hover>button,
.page-wrapper .navigation-responsive-hover .navigation__megamenu>li.has-sub__menu:hover>a,
.page-wrapper .navigation-responsive-hover .navigation__megamenu>li.has-sub__menu:hover>button,
.page-wrapper .navigation-responsive-hover .navigation__responsive:not(.navigation__megamenu) li.has-sub__menu:hover>a,
.page-wrapper .navigation-responsive-hover .navigation__responsive:not(.navigation__megamenu) li.has-sub__menu:hover>button {
  --r-tx: #142a1e;
  --r-bg: #469167;
}

/* Form Button */
.page-wrapper a.button,
.page-wrapper input.button,
.page-wrapper .search-button-close button,
.block-user-login-block form+.item-list ul li a {
  --r-bg: #2f4389;
  --r-tx: #fdfdfe;
}

.page-wrapper a.button:hover,
.page-wrapper input.button:hover,
.page-wrapper .search-button-close button:hover,
.block-user-login-block form+.item-list ul li a:hover {
  --r-tx: #080b17;
  --r-bg: #cad2ed;
}

/* Regions Light */
.welcome-text,
.main-container .main-box {
  --r-bg: var(--solo-white);
}

.main-container,
.top-container,
.fixed-search-block,
.popup-login-block-inner {
  --r-br: #d2eadd;
  --r-bg: linear-gradient(45deg, #d7ddf1, #eff8f3);
  background: var(--r-bg);
}

.highlighted {
  --r-bg: #fbfdfc;
}

.top-container .top-box-inner {
  --r-bg: linear-gradient(180deg, #fbfdfc, #e4f2ea);
  background: var(--r-bg);
}

/* Regions Dark */
header.header,
div.page-title.lone {
  --r-tx: #94cbac;
  --r-bg: linear-gradient(180deg, #151e3d, #0c1224);
  background: var(--r-bg);
}

div.page-title.lone h1 a,
div.page-title.lone h1 span,
header.header h1,
header.header h2,
header.header h3,
header.header h1 a,
header.header h2 a,
header.header h3 a,
header.header h1 a span,
header.header h2 a span,
header.header h3 a span {
  --r-tx: #94cbac;
}

.breadcrumb,
.copyright {
  --r-tx: #eaf4ff;
  --r-bg: linear-gradient(0deg, #09130d, #080b17);
  background: var(--r-bg);
}

.bottom-container,
.footer-container,
.footer-menu {
  --r-br: #1f412e;
  --s-b: 190, 199, 232;
  --r-tx: #abd6be;
  --r-bg: linear-gradient(180deg, #080b17, #04050a);
  background: var(--r-bg);
}

.bottom-container .bottom-box-inner,
.footer-container .footer-box-inner {
  --r-bg: linear-gradient(180deg, #040705, #09130d);
  background: var(--r-bg);
}

.page-wrapper .bottom-container a,
.page-wrapper .footer-container a,
.page-wrapper .footer-menu a,
.page-wrapper .breadcrumb a,
.page-wrapper .copyright a {
  --r-tx: #b6dcc7;
}

.page-wrapper .multi h1 span,
.page-wrapper .multi h2 span,
.page-wrapper .multi h3 span {
  color: inherit;
}

.page-wrapper .bottom-container h1,
.page-wrapper .bottom-container h2,
.page-wrapper .bottom-container h3,
.page-wrapper .footer-container h1,
.page-wrapper .footer-container h2,
.page-wrapper .footer-container h3,
.page-wrapper .footer-menu h1,
.page-wrapper .footer-menu h2,
.page-wrapper .footer-menu h3 {
  --r-tx: #7dc09b;
}

.sm-icons .snapchat svg,
.sm-icons .threads svg,
.sm-icons .whatsapp svg,
.sm-icons .tiktok svg,
.sm-icons .reddit svg,
.sm-icons .facebook svg,
.sm-icons .twitter svg,
.sm-icons .bluesky svg,
.sm-icons .pinterest svg,
.sm-icons .linkedin svg,
.sm-icons .instagram svg,
.sm-icons .youtube svg,
.sm-icons .drupal svg,
.sm-icons .mastodon svg,
.sm-icons .telegram svg,
.sm-icons .email svg,
.sm-icons .rss svg {
  fill: #356f4f;
}

.page-wrapper .selectify,
.page-wrapper .solo-select,
.page-wrapper .solo-radio,
.page-wrapper .solo-check,
.page-wrapper .solo-input,
.page-wrapper .solo-textarea,
.page-wrapper a.button,
.page-wrapper input.button,
.page-wrapper .search-button-close button {
  --r-br: #d2eadd;
}

.page-wrapper .selectify *:hover,
.page-wrapper .solo-select:hover,
.page-wrapper .solo-check:hover,
.page-wrapper .solo-radio:hover,
.page-wrapper .solo-input:hover,
.page-wrapper .solo-textarea:hover,
.page-wrapper .selectify *:focus,
.page-wrapper .solo-select:focus,
.page-wrapper .solo-check:focus,
.page-wrapper .solo-radio:focus,
.page-wrapper .solo-input:focus,
.page-wrapper .solo-textarea:focus {
  --r-br: #9fd0b6;
}

#fixed-search-block,
.primary-sidebar-menu,
.solo-inner .navigation__responsive,
.page-wrapper .primary-menu.solo-sticky,
.fixed-search-block-inner .fixed-search-wrapper,
.page-wrapper .solo-outer.animate-hover .region-inner.top-box-inner {
  --s-b: 9, 19, 14;
}

.page-wrapper .solo-outer.animate-hover .region-inner.bottom-box-inner,
.page-wrapper .solo-outer.animate-hover .region-inner.footer-box-inner {
  --s-b: 239, 248, 243;
}

.sm-icons a > span {
  --s-b: 166, 148, 130;
}

.page-wrapper .pager__item a {
  transition: background .3s;
}

.page-wrapper .pager__item a:hover {
  color: var(--r-header-tx);
  background: var(--r-header-bg);
}

/* Light Theme Styles */
.page-wrapper .selectify-radio,
.page-wrapper .selectify-checkbox,
.page-wrapper .selectify-radio *,
.page-wrapper .selectify-checkbox * {
  --selectify-checkbox-bg: linear-gradient(180deg, var(--r-header-tx) 0%, #469167 50%, #0c1224 100%);
  --selectify-checkbox-checked-bg: linear-gradient(180deg, #0c1224 0%, #469167 50%, #0f1e16 100%);
  --selectify-checkbox-check-circle: radial-gradient(circle at 35% 35%, #ffffff 0%, #9fd1b5 40%, #469167 100%);
  --selectify-checkbox-checked-circle: radial-gradient(circle at 40% 40%, #ffffff 0%, #469167 40%, #0f1e16 100%);
  --selectify-checkbox-disabled-bg: linear-gradient(180deg, #9fd1b5 0%, #469167 50%, var(--r-br) 100%);
  --selectify-checkbox-disabled-circle: radial-gradient(circle at 40% 40%, #d7ebe1 0%, #9fd1b5 40%, #469167 100%);
}

.page-wrapper .selectify-select,
.page-wrapper .selectify-select * {
  --selectify-select-bg: linear-gradient(180deg, #ffffff 0%, var(--r-bg) 100%);
  --selectify-select-hover-bg: linear-gradient(0deg, var(--r-bg) 0%, #e3eaec 100%);
  --selectify-select-color: var(--r-tx);
  --selectify-select-border-color: var(--r-br);
  --selectify-select-focus-border-color: var(--r-br);
  --selectify-select-disabled-bg: linear-gradient(180deg, #f1f8f6 0%, #d1e9e3 100%);
  --selectify-select-arrow-color: #0c1224;
  --selectify-dropdown-shadow: 0px 4px 14px rgba(0, 0, 0, 0.12);
  --selectify-option-hover-bg: linear-gradient(180deg, #ffffff 0%, #e3eaec 100%);
  --selectify-option-active-bg: linear-gradient(180deg, #9fd1b5 0%, #0c1224 100%);
}


/* Border animation  */
@keyframes borderLeftColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: var(--r-br, var(--r-br-b));
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: var(--r-br, var(--r-br-b));
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

}

@keyframes borderRightColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: var(--r-br, var(--r-br-b));
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: var(--r-br, var(--r-br-b));
  }

  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

}
