/* Page wrapper
Smokey Gray #726E6D
Sonic Gray #757575
Spanish Gray #989898
Taupe Gray #8B8589

Smokey Gray #726E6D, Sonic Gray #757575,Spanish Gray #989898,Taupe Gray #8B8589

*/
.page-wrapper {
  --r-br: #d4d4d4;
  --r-bg: #f7f6f7;
  --r-tx: #1a191a;
  --r-header-bg: linear-gradient(0deg, #2c292b, #080808);
  --r-header-tx: #767676;
  --r-menu-tx-h: #f8f7f7;
  --r-menu-bg-h: #0a0909;
}

.page-wrapper .copyright,
.page-wrapper .copyright *,
.page-wrapper .footer-menu,
.page-wrapper .footer-menu *,
.page-wrapper .footer-container,
.page-wrapper .footer-container *,
.page-wrapper .bottom-container,
.page-wrapper .bottom-container * {
  --r-br: #5f5f5f;
}

/* Heads */
.page-wrapper h1:not(.page-title-text),
.page-wrapper h2,
.page-wrapper h3,
.page-wrapper h1 a,
.page-wrapper h2 a,
.page-wrapper h3 a,
.page-wrapper h1 a span,
.page-wrapper h2 a span,
.page-wrapper h3 a span,
.page-wrapper .site-name,
.page-wrapper .site-slogan,
.page-wrapper .site-name-link {
  --r-tx: #767676;
}

/* Link only */
.page-wrapper a:not(.nav__menu-link,
.button,
.site-name-link,
.site-logo,
h1 a,
h2 a,
h3 a) {
  --r-tx: #424242;
}

.page-wrapper a:hover:not(.nav__menu-link,
.button,
.site-name-link,
.site-logo,
h1 a,
h2 a,
h3 a) {
  --r-tx: #202020;
}

/* Menu Links */
.page-wrapper .login-button-open,
.page-wrapper .hamburger-icon button,
.page-wrapper .main-navigation-wrapper,
.page-wrapper .main-navigation-wrapper ul,
.page-wrapper .main-navigation-wrapper li,
.page-wrapper .header li.nav__menu-item>a,
.page-wrapper .main-navigation-wrapper li>a,
.page-wrapper .header li.nav__menu-item>button,
.page-wrapper .main-navigation-wrapper li>button {
  --r-br: #121212;
  --r-bg: #2a2a2a;
  --r-tx: #dfdedd;
}

.page-wrapper .login-button-open:hover,
.page-wrapper .hamburger-icon button:hover,
.page-wrapper .header ul li.nav__menu-item>*:hover,
.page-wrapper .main-navigation-wrapper li>*:hover {
  --r-tx: #f8f7f7;
  --r-bg: #0a0909;
}

.page-wrapper ul.tabs.secondary li a:hover,
.page-wrapper ul.tabs.primary li a:hover {
  --r-tx: #f8f7f7;
  --r-bg: #0a0909;
  background-color: var(--r-bg);
}

/* The same colors as hover for the main menu */
.page-wrapper .navigation-sidebar-hover .navigation__sidebar li.has-sub__menu:hover>a,
.page-wrapper .navigation-sidebar-hover .navigation__sidebar li.has-sub__menu:hover>button,
.page-wrapper .navigation-responsive-hover .navigation__megamenu>li.has-sub__menu:hover>a,
.page-wrapper .navigation-responsive-hover .navigation__megamenu>li.has-sub__menu:hover>button,
.page-wrapper .navigation-responsive-hover .navigation__responsive:not(.navigation__megamenu) li.has-sub__menu:hover>a,
.page-wrapper .navigation-responsive-hover .navigation__responsive:not(.navigation__megamenu) li.has-sub__menu:hover>button {
  --r-tx: #f8f7f7;
  --r-bg: #0a0909;
}

/* Form Button */
.page-wrapper a.button,
.page-wrapper input.button,
.page-wrapper .search-button-close button,
.block-user-login-block form+.item-list ul li a {
  --r-bg: #545454;
  --r-tx: #fefefe;
}

.page-wrapper a.button:hover,
.page-wrapper input.button:hover,
.page-wrapper .search-button-close button:hover,
.block-user-login-block form+.item-list ul li a:hover {
  --r-tx: #dcdcdc;
  --r-bg: #3b3b3b;
}

/* Regions Light */
.welcome-text,
.main-container .main-box {
  --r-bg: var(--solo-white);
}

.highlighted,
.main-container,
.top-container,
.fixed-search-block,
.popup-login-block-inner {
  --r-bg: linear-gradient(45deg, #fefefe, #ececec);
  background: var(--r-bg);
}

.top-container .top-box-inner {
  --r-bg: linear-gradient(180deg, #e6e5e6, #ffffff);
  background: var(--r-bg);
}

/* Regions Dark */
header.header,
div.page-title.lone {
  --r-tx: #e4e4e4;
  --r-bg: linear-gradient(0deg, #2c292b, #080808);
  background: var(--r-bg);
}

.breadcrumb,
.copyright {
  --r-tx: #fefefe;
  --r-bg: linear-gradient(180deg, #101010, #090809);
  background: var(--r-bg);
}

.bottom-container,
.footer-container,
.footer-menu {
  --r-tx: #fdfdfd;
  --r-bg: linear-gradient(0deg, #070707, #2c2b2b);
  background: var(--r-bg);
}

.bottom-container .bottom-box-inner,
.footer-container .footer-box-inner {
  --r-tx: #e0d9dd;
  --r-bg: linear-gradient(180deg, #1a191a, #212121);
  background: var(--r-bg);
}

.page-wrapper .bottom-container a,
.page-wrapper .footer-container a,
.page-wrapper .footer-menu a,
.page-wrapper .breadcrumb a,
.page-wrapper .copyright a {
  --r-tx: #cdcbcc;
}

.page-wrapper .multi h1 span,
.page-wrapper .multi h2 span,
.page-wrapper .multi h3 span {
  color: inherit;
}

.page-wrapper .bottom-container h1,
.page-wrapper .bottom-container h2,
.page-wrapper .bottom-container h3,
.page-wrapper .footer-container h1,
.page-wrapper .footer-container h2,
.page-wrapper .footer-container h3,
.page-wrapper .footer-menu h1,
.page-wrapper .footer-menu h2,
.page-wrapper .footer-menu h3 {
  --r-tx: #adaaa9;
}

.sm-icons .snapchat svg,
.sm-icons .threads svg,
.sm-icons .whatsapp svg,
.sm-icons .tiktok svg,
.sm-icons .reddit svg,
.sm-icons .facebook svg,
.sm-icons .twitter svg,
.sm-icons .bluesky svg,
.sm-icons .pinterest svg,
.sm-icons .linkedin svg,
.sm-icons .instagram svg,
.sm-icons .youtube svg,
.sm-icons .drupal svg,
.sm-icons .mastodon svg,
.sm-icons .telegram svg,
.sm-icons .email svg,
.sm-icons .rss svg {
  fill: #b1b1b1;
}

.page-wrapper .selectify,
.page-wrapper .solo-select,
.page-wrapper .solo-radio,
.page-wrapper .solo-check,
.page-wrapper .solo-input,
.page-wrapper .solo-textarea,
.page-wrapper a.button,
.page-wrapper input.button,
.page-wrapper .search-button-close button {
  --r-br: #343233;
}

.page-wrapper .selectify *:hover,
.page-wrapper .solo-select:hover,
.page-wrapper .solo-check:hover,
.page-wrapper .solo-radio:hover,
.page-wrapper .solo-input:hover,
.page-wrapper .solo-textarea:hover,
.page-wrapper .selectify *:focus,
.page-wrapper .solo-select:focus,
.page-wrapper .solo-check:focus,
.page-wrapper .solo-radio:focus,
.page-wrapper .solo-input:focus,
.page-wrapper .solo-textarea:focus {
  --r-br: #c5c2c4;
}

#fixed-search-block,
.primary-sidebar-menu,
.solo-inner .navigation__responsive,
.page-wrapper .primary-menu.solo-sticky,
.fixed-search-block-inner .fixed-search-wrapper,
.page-wrapper .solo-outer.animate-hover .region-inner.top-box-inner {
  --s-b: 26, 25, 26;
}

.page-wrapper .solo-outer.animate-hover .region-inner.bottom-box-inner,
.page-wrapper .solo-outer.animate-hover .region-inner.footer-box-inner {
  --s-b: 238, 238, 238;
}

.sm-icons a > span {
  --s-b: 122, 116, 120;
}

.page-wrapper .pager__item a {
  transition: background .3s;
}

.page-wrapper .pager__item a:hover {
  color: var(--r-header-tx);
  background: var(--r-header-bg);
}

/* Light Theme Styles */
.page-wrapper .selectify-radio,
.page-wrapper .selectify-checkbox,
.page-wrapper .selectify-radio *,
.page-wrapper .selectify-checkbox * {
  --selectify-checkbox-bg: linear-gradient(180deg, var(--r-header-tx) 0%, #ffffff 50%, #767676 100%);
  --selectify-checkbox-checked-bg: linear-gradient(180deg, #767676 0%, #9c969a 50%, #1a191a 100%);
  --selectify-checkbox-check-circle: radial-gradient(circle at 35% 35%, #ffffff 0%, #9c969a 40%, #767676 100%);
  --selectify-checkbox-checked-circle: radial-gradient(circle at 40% 40%, #ffffff 0%, #767676 40%, #1a191a 100%);
  --selectify-checkbox-disabled-bg: linear-gradient(180deg, #9c969a 0%, #767676 50%, var(--r-br) 100%);
  --selectify-checkbox-disabled-circle: radial-gradient(circle at 40% 40%, #c2bec1 0%, #9c969a 40%, #767676 100%);
}

.page-wrapper .selectify-select,
.page-wrapper .selectify-select * {
  --selectify-select-bg: linear-gradient(180deg, #ffffff 0%, var(--r-bg) 100%);
  --selectify-select-hover-bg: linear-gradient(0deg, var(--r-bg) 0%, #9c969a 100%);
  --selectify-select-color: var(--r-tx);
  --selectify-select-border-color: var(--r-br);
  --selectify-select-focus-border-color: var(--r-br);
  --selectify-select-disabled-bg: linear-gradient(180deg, #f1f1f1 0%, #c2bec1 100%);
  --selectify-select-arrow-color: #767676;
  --selectify-dropdown-shadow: 0px 4px 14px rgba(0, 0, 0, 0.12);
  --selectify-option-hover-bg: linear-gradient(180deg, #ffffff 0%, #9c969a 100%);
  --selectify-option-active-bg: linear-gradient(180deg, #9c969a 0%, #767676 100%);
}


/* Border animation  */
@keyframes borderLeftColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: var(--r-br, var(--r-br-b));
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: var(--r-br, var(--r-br-b));
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

}

@keyframes borderRightColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: var(--r-br, var(--r-br-b));
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: var(--r-br, var(--r-br-b));
  }

  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

}
