/* Page wrapper
RED #D0312D, DENIM #151E3D,MIDNIGHT #040406

*/
.page-wrapper {
  --r-br: #a9a9c6;
  --r-bg: #fffdfd;
  --r-tx: #262639;
  --r-header-bg: linear-gradient(180deg, #000000, #030001);
  --r-header-tx: #565680;
  --r-menu-tx-h: #f9e2e1;
  --r-menu-bg-h: #a62724;
  --r-br-light: #fddddd;
}

/* Heads */
.page-wrapper h1:not(.page-title-text),
.page-wrapper h2,
.page-wrapper h3,
.page-wrapper h1 a,
.page-wrapper h2 a,
.page-wrapper h3 a,
.page-wrapper h1 a span,
.page-wrapper h2 a span,
.page-wrapper h3 a span,
.page-wrapper .site-name,
.page-wrapper .site-slogan,
.page-wrapper .site-name-link {
  --r-tx: #565680;
}

/* Link only */
.page-wrapper a:not(.nav__menu-link,
.button,
.site-name-link,
.site-logo,
h1 a,
h2 a,
h3 a) {
  --r-tx: #c22e2a;
}

.page-wrapper a:hover:not(.nav__menu-link,
.button,
.site-name-link,
.site-logo,
h1 a,
h2 a,
h3 a) {
  --r-tx: #da5956;
}

/* Menu Links */
.page-wrapper .login-button-open,
.page-wrapper .hamburger-icon button,
.page-wrapper .main-navigation-wrapper,
.page-wrapper .main-navigation-wrapper ul,
.page-wrapper .main-navigation-wrapper li,
.page-wrapper .header li.nav__menu-item>a,
.page-wrapper .main-navigation-wrapper li>a,
.page-wrapper .header li.nav__menu-item>button,
.page-wrapper .main-navigation-wrapper li>button {
  --r-br: #d74b48;
  --r-bg: #d0312d;
  --r-tx: #0c0303;
}

.page-wrapper .login-button-open:hover,
.page-wrapper .hamburger-icon button:hover,
.page-wrapper .header ul li.nav__menu-item>*:hover,
.page-wrapper .main-navigation-wrapper li>*:hover {
  --r-tx: #f9e2e1;
  --r-bg: #a62724;
}

.page-wrapper ul.tabs.secondary li a:hover,
.page-wrapper ul.tabs.primary li a:hover {
  --r-tx: #f9e2e1;
  --r-bg: #a62724;
  background-color: var(--r-bg);
}

/* The same colors as hover for the main menu */
.page-wrapper .navigation-sidebar-hover .navigation__sidebar li.has-sub__menu:hover>a,
.page-wrapper .navigation-sidebar-hover .navigation__sidebar li.has-sub__menu:hover>button,
.page-wrapper .navigation-responsive-hover .navigation__megamenu>li.has-sub__menu:hover>a,
.page-wrapper .navigation-responsive-hover .navigation__megamenu>li.has-sub__menu:hover>button,
.page-wrapper .navigation-responsive-hover .navigation__responsive:not(.navigation__megamenu) li.has-sub__menu:hover>a,
.page-wrapper .navigation-responsive-hover .navigation__responsive:not(.navigation__megamenu) li.has-sub__menu:hover>button {
  --r-tx: #f9e2e1;
  --r-bg: #a62724;
}

/* Form Button */
.page-wrapper a.button,
.page-wrapper input.button,
.page-wrapper .search-button-close button,
.block-user-login-block form+.item-list ul li a {
  --r-bg: #8a211e;
  --r-tx: #fcf0ef;
}

.page-wrapper a.button:hover,
.page-wrapper input.button:hover,
.page-wrapper .search-button-close button:hover,
.block-user-login-block form+.item-list ul li a:hover {
  --r-tx: #8a211e;
  --r-bg: #fcf0ef;
}

/* Regions Light */
.welcome-text,
.main-container .main-box {
  --r-bg: var(--solo-white);
}

.main-container,
.top-container,
.fixed-search-block,
.popup-login-block-inner {
  --r-br: #edaba9;
  --r-bg: linear-gradient(45deg, #d7ddf1, #eff8f3);
  background: var(--r-bg);
}

.highlighted {
  --r-bg: #fbfdfc;
}

.top-container .top-box-inner {
  --r-bg: linear-gradient(180deg, #fbfdfc, #e4f2ea);
  background: var(--r-bg);
}

/* Regions Dark */
header.header,
div.page-title.lone {
  --r-tx: #e99d9c;
  --r-bg: linear-gradient(180deg, #000000, #030001);
  background: var(--r-bg);
}

div.page-title.lone h1 a,
div.page-title.lone h1 span,
header.header h1,
header.header h2,
header.header h3,
header.header h1 a,
header.header h2 a,
header.header h3 a,
header.header h1 a span,
header.header h2 a span,
header.header h3 a span {
  --r-tx: #e99d9c;
}

.breadcrumb,
.copyright {
  --r-tx: #eaf4ff;
  --r-bg: linear-gradient(0deg, #000000, #030001);
  background: var(--r-bg);
}

.bottom-container,
.footer-container,
.footer-menu {
  --r-br: #601715;
  --s-b: 194, 46, 42;
  --r-tx: #a9a9c6;
  --r-bg: linear-gradient(180deg, #000000, #030001);
  background: var(--r-bg);
}

.bottom-container .bottom-box-inner,
.footer-container .footer-box-inner {
  --r-bg: linear-gradient(180deg, #000000, #030001);
  background: var(--r-bg);
}

.page-wrapper .bottom-container a,
.page-wrapper .footer-container a,
.page-wrapper .footer-menu a,
.page-wrapper .breadcrumb a,
.page-wrapper .copyright a {
  --r-tx: #b42a27;
}

.page-wrapper .bottom-container a:hover,
.page-wrapper .footer-container a:hover,
.page-wrapper .footer-menu a:hover,
.page-wrapper .breadcrumb a:hover,
.page-wrapper .copyright a:hover {
  --r-tx: #98a7db;
}

.page-wrapper .multi h1 span,
.page-wrapper .multi h2 span,
.page-wrapper .multi h3 span {
  color: inherit;
}

.page-wrapper .bottom-container h1,
.page-wrapper .bottom-container h2,
.page-wrapper .bottom-container h3,
.page-wrapper .footer-container h1,
.page-wrapper .footer-container h2,
.page-wrapper .footer-container h3,
.page-wrapper .footer-menu h1,
.page-wrapper .footer-menu h2,
.page-wrapper .footer-menu h3 {
  --r-tx: #982421;
}

.sm-icons .snapchat svg,
.sm-icons .threads svg,
.sm-icons .whatsapp svg,
.sm-icons .tiktok svg,
.sm-icons .reddit svg,
.sm-icons .facebook svg,
.sm-icons .twitter svg,
.sm-icons .bluesky svg,
.sm-icons .pinterest svg,
.sm-icons .linkedin svg,
.sm-icons .instagram svg,
.sm-icons .youtube svg,
.sm-icons .drupal svg,
.sm-icons .mastodon svg,
.sm-icons .telegram svg,
.sm-icons .email svg,
.sm-icons .rss svg {
  fill: #a62724;
}

.page-wrapper .selectify,
.page-wrapper .solo-select,
.page-wrapper .solo-radio,
.page-wrapper .solo-check,
.page-wrapper .solo-input,
.page-wrapper .solo-textarea,
.page-wrapper a.button,
.page-wrapper input.button,
.page-wrapper .search-button-close button {
  --r-br: #6e1a18;
}

.page-wrapper .selectify *:hover,
.page-wrapper .solo-select:hover,
.page-wrapper .solo-check:hover,
.page-wrapper .solo-radio:hover,
.page-wrapper .solo-input:hover,
.page-wrapper .solo-textarea:hover,
.page-wrapper .selectify *:focus,
.page-wrapper .solo-select:focus,
.page-wrapper .solo-check:focus,
.page-wrapper .solo-radio:focus,
.page-wrapper .solo-input:focus,
.page-wrapper .solo-textarea:focus {
  --r-br: #d0312d;
}

/* For main menu shadow */
#fixed-search-block,
.primary-sidebar-menu,
.solo-inner .navigation__responsive,
.page-wrapper .primary-menu.solo-sticky,
.fixed-search-block-inner .fixed-search-wrapper,
.page-wrapper .solo-outer.animate-hover .region-inner.top-box-inner {
  --s-b: 43, 61, 124;
}

.page-wrapper .solo-outer.animate-hover .region-inner.bottom-box-inner,
.page-wrapper .solo-outer.animate-hover .region-inner.footer-box-inner {
  --s-b: 227, 232, 246;
}

.sm-icons a > span {
  --s-b: 227, 232, 246;
}

.page-wrapper .pager__item a {
  transition: background .3s;
}

.page-wrapper .pager__item a:hover {
  color: var(--r-header-tx);
  background: var(--r-header-bg);
}

.page-wrapper .top-container,
.page-wrapper .top-container *,
.page-wrapper .main-container,
.page-wrapper .main-container * {
  --r-br: var(--r-br-light);
}

.page-wrapper .selectify-radio,
.page-wrapper .selectify-checkbox,
.page-wrapper .selectify-radio *,
.page-wrapper .selectify-checkbox * {
  --selectify-checkbox-bg: linear-gradient(180deg, var(--r-br) 0%, #b3b3cc 50%, #8c8bb3 100%);
  --selectify-checkbox-checked-bg: linear-gradient(180deg, var(--r-menu-bg-h) 0%, #7d1f1b 50%, #5b1711 100%);
  --selectify-checkbox-check-circle: radial-gradient(circle at 35% 35%, #ffffff 0%, #f1d0d0 40%, #d09b9b 100%);
  --selectify-checkbox-checked-circle: radial-gradient(circle at 40% 40%, #ffffff 0%, #f4c0c0 40%, var(--r-header-tx) 100%);
  --selectify-checkbox-disabled-bg: linear-gradient(180deg, #f1d0d0 0%, #e1b0b0 50%, var(--r-br) 100%);
  --selectify-checkbox-disabled-circle: radial-gradient(circle at 40% 40%, #f8e4e4 0%, #f1d0d0 40%, #d09b9b 100%);
}

.page-wrapper .selectify-select,
.page-wrapper .selectify-select * {
  --selectify-select-bg: linear-gradient(180deg, #ffffff 0%, var(--r-bg) 100%);
  --selectify-select-hover-bg: linear-gradient(0deg, var(--r-bg) 0%, #f9e4e4 100%);
  --selectify-select-color: var(--r-tx);
  --selectify-select-border-color: var(--r-br);
  --selectify-select-focus-border-color: var(--r-br);
  --selectify-select-disabled-bg: linear-gradient(180deg, #ffffff 0%, var(--r-bg) 100%);
  --selectify-select-arrow-color: #d0312d;
  --selectify-dropdown-shadow: 0px 4px 14px rgba(38, 38, 57, 0.12);
  --selectify-option-hover-bg: linear-gradient(180deg, #ffffff 0%, #f9e4e4 100%);
  --selectify-option-active-bg: linear-gradient(180deg, var(--r-br) 0%, #f9e4e4 100%);
}

/* Border animation  */
@keyframes borderLeftColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: var(--r-br, var(--r-br-b));
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: var(--r-br, var(--r-br-b));
    border-right-color: var(--r-br, var(--r-br-b));
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

}

@keyframes borderRightColors {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: var(--r-br, var(--r-br-b));
  }

  99.9999% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--r-br, var(--r-br-b));
    border-left-color: var(--r-br, var(--r-br-b));
  }

  100% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

}
