nav.tabs {
  margin-block: var(--solo-px10) !important;
  margin-inline: 0 !important;
  display: grid;
}

ul.tabs li,
.action-links > li {
  padding: 0 !important;
}

nav.action-links,
ul.secondary,
ul.primary {
  display: flex;
  flex-wrap: wrap;
}

ul.primary {
  border-block-end: 2px solid var(--r-br, var(--r-br-b));
}

ul.secondary li.is-active > a,
ul.primary li.is-active > a {
  font-weight: bold;
}

ul.primary > li {
  border: none;
}
nav.action-links > li > a {
  display: flex;
  align-items: center;
  padding-block: var(--solo-px12);
  padding-inline: var(--solo-px16);
}

ul.primary > li > a {
  display: flex;
  align-items: center;
  padding-block: var(--solo-px6);
  padding-inline: var(--solo-px16);
  border: 1px solid var(--r-br, var(--r-br-b));
  border-block-end: none;
  margin-inline-end: var(--solo-px6);
  border-start-start-radius: var(--solo-px8);
  border-start-end-radius: var(--solo-px8);
  border-end-end-radius: 0;
  border-end-start-radius: 0;
  line-height: 1.4;
}

ul.primary > li:last-child > a {
  margin-inline-end: 0;
}

ul.secondary > li > a {
  padding-block: var(--solo-px4);
  padding-inline: var(--solo-px12);
  display: block;
  line-height: 1.3;
}

ul.primary > li > a,
nav.action-links > li > a {
  text-align: center;
  padding-block: var(--solo-px8);
  padding-inline: var(--solo-px16);
  display: block;
}

ul.secondary > li > a {
  padding-block: var(--solo-px6);
  padding-inline: var(--solo-px12);
  display: block;
}

ul.primary .task-icon {
  display: none;
}
