@media (min-width:62rem) {

  /*  layout file*/
  .solo-col-1 {
    grid-auto-flow: row;
    grid-template-rows: 1fr;
  }

  .solo-col-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .solo-col-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .solo-col-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .solo-col-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .solo-col-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .solo-col-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .solo-col-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .solo-col-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .solo-col-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .solo-col-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }

  .solo-col-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  /* Custom CSS - FIXED with minmax() */
  .solo-col-1-1-1-1 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }

  .solo-col-1-2-2-1 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 1fr);
  }

  .solo-col-2-1-1-2 {
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr);
  }

  .solo-col-1-2-1-2 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr) minmax(0, 2fr);
  }

  .solo-col-1-1-1 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }

  .solo-col-1-2-1 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
  }

  .solo-col-1-3-1 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr);
  }

  .solo-col-1-1 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }

  .solo-col-2-1 {
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  }

  .solo-col-3-1 {
    grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
  }

  .solo-col-4-1 {
    grid-template-columns: minmax(0, 4fr) minmax(0, 1fr);
  }

  .solo-col-1-2 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  }

  .solo-col-1-3 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
  }

  .solo-col-1-4 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 4fr);
  }

}
